<a href="https://colab.research.google.com/github/manaswinisunkavalli311/PYTHON-NEW/blob/MODULE-2/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#functions are reusable

In [ ]:

length=len(list1)
list1.sort()
print("small is",list1[0])
print("sec smal is",list1[1])
print("large is",list1[length-1])
print("2 large is",list1[length-2])
list1=[1,2,3,9]

small is 1
sec smal is 2
large is 9
2 large is 3

In [ ]:
n=int(input("enter"))
d={}
for x in range(1,n+1):
   d[x]=x*x
print(d)

enter4
{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
def replaceLLwithZ(input,pattern,replacewith):
      return input.replace(pattern, replacewith)
if _name_ == "_main_":
      input="hello"
      pattern="LL"
      replacewith="Z"
      print (replaceLLwithZ(input,Pattern,replacewith))

NameError: ignored

In [ ]:
def manaswini():
  print("hai")
manaswini()

hai

In [ ]:
def me(fname):
  print(fname + " sunkavalli")

me("manaswini")
me("y")
me("x")

manaswini sunkavalli
y sunkavalli
x sunkavalli

In [ ]:
def manaswini(fname, lname):
  print(fname + " " + lname)
manaswini("manaswini", "sunkavalli")

manaswini sunkavalli

In [ ]:
def my_function(*marks):
  print("The highest marks is " + marks[1])

my_function("68", "100", "90")

The highest marks is 100

In [ ]:
def fun(animal1,animal2,animal3):
  print(" my pet is " + animal1)
fun(animal1 = "dog", animal2 = "cat", animal3 = "parrot")

 my pet is dog

In [ ]:
def voting(name,age,gender):
  print(name,age,gender)
name="name is manaswini"
age="age is 18"
gender="gender is female"
voting(name,age,gender)

name is manaswini age is 18 gender is female

In [ ]:
def voting(age):
  if (age>=18):
        print("eligible")
  else:
        print("not eligible") 
age=int(input("enter"))
voting(age)

enter30
eligible

In [ ]:
def my_function(x):
  return  x

print(my_function("name=manaswini"))
print(my_function("age=18"))
print(my_function("gender=female"))

name=manaswini
age=18
gender=female