<a href="https://colab.research.google.com/github/manaswinisunkavalli311/PYTHON-NEW/blob/MODULE-2/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
set = {"apple", "banana", "cherry", "apple"}

print(set)

{'cherry', 'banana', 'apple'}

TypeError: ignored

In [ ]:
set = {"apple", "banana", "cherry"}

print("banana" in set)

True

In [ ]:
#remove
a=[1,2,3,1,1,156,8]
for i in list(a):
  if i==1:
      a.remove(i)      
print(a)

[2, 3, 156, 8]

intersectionupdate

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

#difference update

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

In [ ]:
#List is a collection which is ordered and changeable. Allows duplicate members.
#Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
#Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
#Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
#add
set = {"apple", "banana", "cherry"}

set.add("orange")

print(set)

{'orange', 'apple', 'cherry', 'banana'}

In [ ]:
#update
set = {"apple", "banana", "cherry"}
fruits = {"pineapple", "mango", "papaya"}

set.update(fruits)

print(set)

{'apple', 'pineapple', 'mango', 'banana', 'cherry', 'papaya'}

In [ ]:
#difference
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'cherry', 'banana'}

In [ ]:
# union
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [ ]:
#update
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [ ]:
#remove
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [ ]:
#pop
set = {"apple", "banana", "cherry"}

x = set.pop()

print(x)

print(set)

apple
{'cherry', 'banana'}

In [ ]:
set = {"apple", "banana", "cherry"}

del set

print(set)

<class 'set'>

In [ ]:
#add
set = {"apple", "banana", "cherry"}
set.add("orange")

print(set)

{'orange', 'apple', 'cherry', 'banana'}

In [ ]:
#update
set = {"apple", "banana", "cherry"}
mylist = {"kiwi", "orange"}
set.update(mylist)

print(set)

{'apple', 'orange', 'banana', 'cherry', 'kiwi'}

In [ ]:
set = {"apple", "banana", "cherry"}

print("banana" in set)

True

In [ ]:
set = {"apple", "banana", "cherry", "apple"}

print(set)

{'apple', 'cherry', 'banana'}

In [ ]:
#discard
set = {"apple", "banana", "cherry"}
set.discard("banana")

print(set)

{'apple', 'cherry'}

In [ ]:
#clear
set = {"apple", "banana", "cherry"}

set.clear()

print(set)

set()

isdisjoint

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

issubset

In [ ]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

issuperset

In [ ]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

sym-differnce

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y) 

print(z)

{'microsoft', 'banana', 'cherry', 'google'}

symmmetric difference update

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y) 

print(x)

{'microsoft', 'banana', 'cherry', 'google'}