<a href="https://colab.research.google.com/github/manaswinisunkavalli311/PYTHON-NEW/blob/MODULE-2/strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a="""4-13,
   srinagar,
   534350,
   vishakapatnam."""
print(a)

4-13,
   srinagar,
   534350,
   vishakapatnam.

In [ ]:
a="some things in life are free"
if "gold" not in a:
    print("no,'gold' is not present in a")

no,'gold' is not present in a

In [ ]:
a='''we have many keywords in python,
     there are 33 keywords in python.'''
print(len(a))

70

In [ ]:
a='''i am manaswini'''
print('manaswini' in a)

True

In [ ]:
a='''how are you.'''
print('good' in a)

False

# slicing of string

In [ ]:
a="  goog"
print(a[1])

In [ ]:
a="string, are classified to 5 types"
print(a[-9:-3])

o 5 ty

# modifying strings

In [ ]:
a="   hello good morning   "
print(a.split())

['hello', 'good', 'morning']

In [ ]:
a="  hi ,  hello   "
print(a.split(","))

['  hi ', '  hello   ']

In [ ]:
a="good morning"
print(a.upper())
print(a.lower())
print(a.title())
print(a.split('o'))
print(a.split('m'))
print(a.capitalize())

GOOD MORNING
good morning
Good Morning
['g', '', 'd m', 'rning']
['good ', 'orning']
Good morning

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
txt = "We are the so-called 'Vikings' from the north."
print(txt)

We are the so-called 'Vikings' from the north.

In [ ]:
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning

In [ ]:
a="hello\nworld"
print(a)

hello
world

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.