<a href="https://colab.research.google.com/github/manaswinisunkavalli311/PYTHON-NEW/blob/MODULE-2/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a= ("apple", "banana", "cherry")
if "apple" in a:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [ ]:
 #update
 a= ("apple", "banana", "cherry")
y = list(a)
y.remove("apple")
a = tuple(y)
print(tuple(y))

('banana', 'cherry')

In [ ]:
#add
a = ("apple", "banana", "cherry")
y = ("orange",)
a += y

print(a)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
fruits= ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
a = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(a[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
 a= ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(a[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
# add
a= ("apple", "banana", "cherry")
y = list(a)
y.append("apple")
a = tuple(y)
print(a)

('apple', 'banana', 'cherry', 'apple')

In [ ]:
#remove
a= ("apple", "banana", "cherry")
y = list(a)
y.remove("apple")
a = tuple(y)
print(a)

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

unpacking

In [ ]:
a = ("apple", "banana", "cherry")

(green, yellow, red) = a

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
a = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = a

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
# Print all items, using a while loop to go through all the index numbers:

a = ("apple", "banana", "cherry")
i = 0
while i < len(a):
  print(a[i])
  i = i + 1

apple
banana
cherry

In [ ]:
#multiply
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
#count
a = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = a.count(5)

print(x)

2

In [ ]:
#index
a= (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = a.index(8)

print(x)

3

TypeError: ignored

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

TypeError: ignored

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [ ]:
#length loop
tuple = ("apple", "banana", "cherry")
for i in range(len(tuple)):
  print(tuple[i])

apple
banana
cherry

In [ ]:
#for loop
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [ ]:
#multiply by tuple 2
fruits = ("apple", "banana", "cherry")
tuple = fruits * 2

print(tuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
#index
a = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = a.index(8)

print(x)

3